/*reset css*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Varela+Round&display=swap');

html{
    font-size: 62.5%;
}

body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
}

h1,h2,h3,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

input,input[type="submit"], button{
    border: 0;
    background-color: transparent;
    font-size: inherit;
}

a{
    text-decoration: none;
   
    color: #222;
}
fieldset{
    border: solid .1rem transparent;
}
*{
    box-sizing: border-box;
} 

/*fonction*/

:root{
    --background:#292F33;
    --fond3: #B0C4DE;
    --soustitre:#CCD6DD;
    --fond6:#ffffff;
    --fond7:#4682B4;
}

/* class */

.profil{
    width: 15rem;
    height: 12rem;
    border-radius: 50%;
    float: left;
}


.Langage{
    width: 10rem;
    height: 10rem;
    border: 0.1rem #23282d solid;
    border-radius: 50%;
}
.box{
    margin-top: 2rem;
    float: left;
    max-width: 50%;
    text-align: center;

}

.box2{

    margin-top: 2rem;
    float: left;
    min-width: 50%;
    text-align: center;
    background-color:#66757F;
}

.align{
    
    float: left;
    min-height: 25rem;
    margin-top: 0.5rem;
    text-align: center;
    position: static;
    
}

.align2{

    float: left;
    min-height: 25rem;
    margin-top: 0.5rem;
    text-align: center;
    position: static;
    background-color:#66757F;
}

.center{

    display: inline-block;
    min-width: 100%;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--fond7);
    
}
/* block */

body{

    background-color: var(--background);
}

header{

    border-width: 0.1rem;
    border-style: outset;
    border-color: transparent;
    overflow: hidden;
    min-width: 100%;
    background-color:var(--fond7);

}

header img{
    position: static;
    margin-left: 65rem;
    margin-right: 70rem;
}

h1{
    margin-top: 3rem;
    text-align: center;
}


nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: var(--fond7);
    position: sticky;
    top: 0;
  }
  
nav li {
    float: left;
    border-width: 0.1rem;
    border-style: outset;
    border-color: transparent;
    box-shadow: 0 0 1rem var(--background);
    min-width: 25%;
    
  }
  
nav  li a {
    display: block;
    text-align: center;
    padding: 1.4rem 1.6rem;
    color:rgb(0, 0, 0);
    text-decoration: none;
  }
  

nav li a:hover {
    background-color: var(--background);
    color: rgb(255, 255, 255);
  }

main{
    border-width: 0.1rem;
    border-style: outset;
    border-color: transparent;
    overflow: hidden;
    min-height: 151.88rem;
}


section{
    border-width: 0.1rem;
    border-style: outset;
    border-color: transparent;
    overflow: hidden;
    background-color: #697888;
    
}

h3{
   padding-top: 2rem;
}
h2{ 
    position: relative;
    box-shadow: 0 0 1rem var(--background);

}

h2[id= "expertises"]{
    background-color: var(--fond7);
}

h2,h3, h4, h5, p, li, a{
    color: var(--fond6);
}





figure{
    display: block;
    padding-top: 2rem;
    min-width: 20%;
    float: left;
    
}

figure img{
    background: #ffffff;
}

figcaption p{
    color: rgb(0, 0, 0);
}

ul{
    list-style-type: none;
    padding-top: 2rem;
}

footer{
    text-align: center;
    text-transform: capitalize;
    
}

footer a:hover{
    color: var(--fond7);

}

footer a:visited{
    columns: var(--fond7);
}



/* responsive */


@media screen and (max-width: 80.00rem){

    .box2{
        min-width: 100%;
    }

    .box{
        min-width: 100%;
    }

    .align2{

        min-width: 100%;
    }
    
    .align{
        
        min-width: 100%;
    }

    header img{
        position: static;
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
    h1{
        text-align: center;
    }
    section{
        min-width: 42.8rem;
    }

    h3,h4,p,figure,ul,ol{
        margin-top: 1rem;
        text-align: left;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: var(--background);
        
    }
      
    nav li {
        display: block;
        min-width: 100%;
      }
    
      nav ul li a{
        color: white;
        text-decoration: none;
      }
    
      

/* Change the link color on hover */

    nav li a:hover {
        background-color: var(--fond7);
        color: white;
    }

    .center{
        display: block;
        float: left;
        margin-top: 1rem;
        background-color: var(--fond7);
        
    }

    h2[id= "expertises"]{
        background-color: var(--fond7);
    }


    figure{
        text-align: center;
        min-width: 50%;
       
    }

 
    figure figcaption p {
        text-align: center;
    }

    figure[id = "linux"]{
        min-width: 100%;
    }

    .profil{
        padding-top: 1rem;
        width: 20rem;
        height: 17rem;
        float: left;
    }

    footer p{
        text-align: center;
    }

}


@media screen and (orientation: landscape){

    .box2{
        min-width: 50%;
        max-width: 50%;
        min-height: 130rem;
    }

    .box{
        min-width: 50%;
        max-width: 50%;
        min-height: 130rem;
    }

    .align{
        min-width: 50%;
    }
    .align2{
        min-width: 50%;
    }

    h1{
        margin-top: 5rem;
    }

}
